<div class="container-fluid">
  <app-card title="Emerytalny Portfel Inwestycyjny" subtitle="Czyli krótko o tym co to za aplikacja" [backgroundColor]="BackgroundColors.Blue">
    <p>
      Witaj na stronie Emerytalnego Portfela Inwestycyjnego. Jest to miejsce, gdzie można śledzić postępy w oszczędzaniu na emeryturę w produktach typu IKE i IKZE.
    </p>
    <p>
      Poniżej widać wersję demonstacyjną aplikacji, która działa dla funduszy inwestycyjnych zakupionych w ramach IKE oraz dobrowolnego funduszu emerytalnego IKZE.<br />
      Platforma konsoliduje dane z wprowadzonych produktów, automatycznie pobiera kursy tych instumentów finansowych, wylicza ich wartości i prezentuje interesujące informacje dotyczące zgromadzonych oszczędności.
    </p>
    <p>
      Już niebawem będzie można założyć tu konto i wprowadzić swoje własne inwestycje aby śledzić ich wartość.
    </p>
    <p>Jeśli chcesz śledzić rozwój projektu, zapraszam do polubienia strony na facebooku: <a href="https://www.facebook.com/planujemeryture/" target="_blank">https://www.facebook.com/planujemeryture/</a></p>
  </app-card>
</div>
