.card-header-svg {
  width:86px;
  height: 86px
}

.card .card-header .material-icons {
  color: #FFFFFF;
}
.card a {
  color: #FFFFFF;
}

.card-stats {
  height: 127px;
}

.card-preloader {
  padding-top: 48px;
  padding-left: 102px;
}
