<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <app-summary-card [color]="'orange'"
                            [icon]="'account_balance_wallet'"
                            [title]="'Całkowita wartość'"
                            [statIcon]="'access_time'"
                            [statText]="'zaktualizowano ' + summary.result?.lastUpdateInDays + ' dni temu'"
                            [isLoading]="summary.isFetching">
            {{summary.result?.have}}<small>zł</small>
          </app-summary-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <app-summary-card [color]="'purple'"
                            [icon]="'input'"
                            [title]="'Wpłacona kwota'"
                            [statIcon]="'update'"
                            [statText]="'ostatnia operacja: ' + (summary.result?.lastDepositDate || '' | date: 'dd.MM.yyyy')"
                            [isLoading]="summary.isFetching">
            {{summary.result?.saved}}<small>zł</small>
          </app-summary-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <app-summary-card [color]="'green'"
                            [icon]="'trending_up'"
                            [title]="'Zysk'"
                            [statIcon]="'date_range'"
                            [statText]="'od ' + summary.result?.period + ' dni'"
                            [isLoading]="summary.isFetching">
            {{summary.result?.diff}}<small>zł</small>
          </app-summary-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <app-summary-card [color]="'blue'"
                            [icon]="'percent'"
                            [title]="'Stopa zwrotu'"
                            [statIcon]="'timeline'"
                            [statText]="'średnia roczna zmiana'"
                            [isLoading]="summary.isFetching">
            +{{summary.result?.meanPercentage | number:'1.2-2'}}<small>%</small>
          </app-summary-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header card-chart" data-background-color="green">
                    <app-chart [chartData]="chartData.result"></app-chart>
                </div>
                <div class="card-content">
                    <h4 class="title">Całkowita wartość zgromadzonych środków</h4>
                    <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> {{summary.result?.percentage | number:'1.2-2'}}%  </span> zysku ponad wpłacone środki</p>
                </div>
                <div class="card-footer" *ngIf="false">
                    <div class="stats">
                        <i class="material-icons">access_time</i> aktualizacja 4 godziny temu
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <app-table *ngFor="let wallet of wallets.result" [title]="'Twój portfel ' + wallet.Name" [subtitle]="wallet.ProductName + ' w ' + wallet.Owner" [data]="wallet.Assets"></app-table>
    </div>
</div>
